
/* This accounts for extra white space on right side of page*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* give everything inherit for box sizing, and set the body to border-box */
  /* this makes it easier to change box-sizing properties for other things
  if the situation ever arises */
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}
